/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background:#000; 
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
.header{
    background:#fff;
    padding:0;
    margin-left: 16em;
}
.header-left{
    /*--float: left;
    width:65.55555%;--*/
    padding: 9px 0;
}
.search-box {
    float: left;
}
.logo{
    float: left;
    margin-right: 5%;
    width: 19.5555%;
}
.menu{
    float:left;
    margin: 12px 0 0;
    width:74.5555%;
}
.menu li{
    display:inline-block;
}
.menu li:first-child{
    margin-left:0;
}
.menu li a{
    display: block;
    font-size: 0.85em;
    text-transform: uppercase;
    margin: 5px 10px;
    color:#96a6a7;
    padding:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight:500;
}
.menu li a:hover ,.menu li.active a{
    background:black;
    color:#e94e38;
} 
#nav .current a {
    color:red;
}
.toggleMenu {
    display:  none;
    padding:4px 5px 0px 5px;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
    .active {
        display: block;
    }
    .menu li a{
        text-align:left;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }
    .nav {
        list-style: none;
        width: 95%;
        position: absolute;
        right: 20px;
        background: #222;
        top: 72px;
        z-index: 111;
    }
    .nav:after {
        content: '';
        position: absolute;
        right:18px;
        top: -9px;
        border-left:10px solid rgba(0, 0, 0, 0);
        border-right:10px solid rgba(0, 0, 0, 0);
        border-bottom:10px solid #333;
    }
    .menu li a span.messages{
        text-align:center;
        top:15px;
    }
    .nav li ul{
        width:100%;   	
    }
    .menu ul{
        margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
        border-top:1px solid #333;
    }
    .nav li:first-child a{
        border-top:none;
    }
}
.header_right{
    /*--float:right;
    width:32.5555%;--*/
    padding:0;
}
.sb-search {
    position: absolute;
    top:0;
    right:-15px;
    width: 0%;
    min-width:70px;
    height:71px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}
.sb-search-input {
    position: absolute;
    top: 0;
    left: 0px;
    border: none;
    outline: none;
    background:#e94e38;
    width: 100%;
    height:71px;
    margin: 0;
    z-index: 10;
    padding: 5px 20px;
    font-size: 13px;
    color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
    color: #ffffff;
}
.sb-search-input:-moz-placeholder {
    color: #ffffff;
}
.sb-search-input::-moz-placeholder {
    color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
    color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
    width:70px;
    height:71px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height:71px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
    background: #333 url('../images/h_search.png') no-repeat 21px 22px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
    -webkit-appearance: none;
}
.sb-icon-search {
    color: #FFF;
    background:#e2dee0 url('../images/h_search.png') no-repeat 21px 22px;
    z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
    width:40%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
    z-index: 90;
}
/********** Login *************/
#loginContainer {
    position:relative;
    background:#e94e38;
    padding:0.39em 1em;

}
#loginContainer a span{
    padding:0px 0px 0 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.85em;
}
/* Login Button #ff748c */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:81px;
    left:0;
    display:none;
    z-index:29;
}
#loginForm:after {
    content: '';
    position: absolute;
    right: 25px;
    top: -10px;
    border-left:10px solid rgba(0, 0, 0, 0);
    border-right:10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #f0f0f0;
}
/* Login Form */
#loginForm {
    width: 451px;
    background: #fff;
    border: none;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#000;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.85em;
    font-weight: 400;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
    color:#000;
    font-size:1em;
    font-style:normal;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #DADADA;
    color: #222;
    background:#FFF;
    padding:6px;
    font-size: 0.8125em;
    -webkit-apperance:none;
}
/* Sign In Button */
#loginForm #login {
    width: auto;
    float: left;
    background: #e94e38;
    color:#fff;
    font-size: 0.8725em;
    padding: 8px 20px;
    border: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
#loginForm #login:hover {
    background:#1db05e;
}
/* Forgot your password */
#loginForm span{
    display:block;
    padding:0px 0px 15px 15px;
}
#loginForm span a{
    color:#000;
    font-size:0.85em;
    font-weight:500;
    background: none;
    border: none;
    box-shadow: none;
}
#loginForm span a:hover{
    text-decoration:underline;
}
input:focus {
    outline:none;
}
a#loginButton img {
    vertical-align: bottom;
}
.banner{
    background: url(../images/img36.jpg) no-repeat center top;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-height:400px;
    text-align:center;
    padding-top:3em;
}
.banners{
    background: url(../images/wd9.jpg) no-repeat center top;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-height:410px;
    text-align:center;
    padding-top:3em;
}
.bannertwoin{
    background: url(../images/siritha4.jpg) no-repeat center top;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-height:410px;
    text-align:center;
    padding-top:3em;
}
.bannertwoins{
    background: url(../images/wed9.jpg) no-repeat center top;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    min-height:410px;
    text-align:center;
    padding-top:3em;
}
.container_wrap{
    margin:0 auto;
    width:70%;
}
.dropdown-buttons{
    margin-bottom: 1em;
}
.banner h1{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.banners h1{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.banner input[type="text"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #fff;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 2em;
}

.bannertwoin h1{
    color: #000;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.bannertwoin input[type="text"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="file"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin textarea[type="text"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins textarea[type="text"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.container input[type="email"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #fff;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="tel"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="email"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="tel"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="email"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="password"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.header select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.header select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.banner1 select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.banner1 select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.container select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    color: #000;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.container select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    color: #000;

    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.banner select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.banner select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="url"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="time"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.banner input[type="url"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="url"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="date"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoin input[type="number"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="number"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins h1{
    color: #000;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}
.bannertwoins input[type="text"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="password"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins select {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins select selector{
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;


    width: 47%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="time"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
.bannertwoins input[type="date"] {
    background: rgba(111, 111, 111, 0.17);
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -webkit-appearance: none;
    border: 1px solid #5b5953;
    outline: none;
    font-size: 1.1em;
    padding: 17px;
    color: #000;
    width: 47%;
    text-transform: lowercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 300;
    margin-bottom: 0.85em;
}
/**** Drop Down *********/
/* PREFIXED CSS */
.flat,
.flat div,
.flat li,
.flat div::after,
.flat .carat,
.flat .carat:after,
.flat .selected::after,
.flat:after{
    /*---webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;--*/
}
.flat .selected::after,
.flat.scrollable div::after{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}
/* WRAPPER */
.dropdown-button:first-child{
    margin-left:0;
}
.dropdown-button{
    margin-left:25px;
    width:22%;
}
.dropdown-button{
    display:inline-block;
}
.flat{
    position: relative;	
    cursor: pointer;
    font-weight:600;
    background:rgba(111, 111, 111, 0.17);
    color:#898989;
    border-radius:100px;	
    -webkit-border-radius:100px;	
    -moz-border-radius:100px;	
    -o-border-radius:100px;	
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border:1px solid #5b5953;
}
.flat.open{
    z-index: 2;
}
.flat:hover,
.flat.focus{
    color:#666;
}
/* OLD SELECT (HIDDEN) */
.flat .old{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}
.flat select{
    position: absolute;
    left: 0px;
    top: 0px;
}
.flat.touch select{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.flat .selected {
    color:#fff;
}
.flat .selected,
.flat li{
    display: block;
    font-size: 1.1em;
    padding:14px 0px 14px 25px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight: 300;
}
.flat .selected::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding:20px 20px;
    background:url(../images/img-sprite.png) no-repeat -7px 18px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
.flat:hover .selected::after,
.flat.focus .selected::after{
    background:url(../images/img-sprite.png) no-repeat -44px 19px;
}
/* DROP DOWN WRAPPER */
.flat div{
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top:1px;
    background:#e94e38;
    overflow: hidden;
    opacity: 0;
    color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Height is adjusted by JS on open */
.flat.open div{
    opacity: 1;
    z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.flat.scrollable div::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
.flat.scrollable.bottom div::after{
    opacity: 0;
}
/* DROP DOWN LIST */
.flat ul{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding:0;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.flat.scrollable.open ul{
    overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.flat li{
    list-style: none;
    padding: 6px 10px;
    font-size: 1em;
    font-weight: 400;
}
.flat li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.flat li:hover{
    background-color:#DD3E27;
}
.flat li.focus{
    background:#DD3E27;
    position: relative;
    z-index: 3;
    color:#FFF;
}
.flat li.active{
    background-color:#DD3E27;
    color: #fff;
}
.quote_button a{
    display:inline-block;
    color:#FFF;
    font-size:1.2em;
    font-weight:400;
    background:#7accc8;
    padding:20px 60px;
    border-bottom:4px solid #45A39E;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.banner input[type="submit"], .footer input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.bannertwoin input[type="submit"], .footer input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.bannertwoins input[type="submit"], .footer input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.banner input[type="button"], .footer input[type="button"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.bannertwoin input[type="button"], .footer input[type="button"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.bannertwoins input[type="button"], .footer input[type="button"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
}
.btn-2g {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
}
.btn-2 {
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 3px #c1412e;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn1 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding:15px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #e94e38;
    color: #fff;
    font-size: 1.1em;
    text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -webkit-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -moz-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -o-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
}
.btn-2g:hover {
    top: 2px;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/*----------------------------------------------------*/
.btn1-2g {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -o-border-radius: 40px;
}
.btn1-2 {
    background: #000;
    color: #fff;
    box-shadow: 0 3px #000;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn11 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding:15px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #000;
    color: #fff;
    font-size: 1.1em;
    text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -webkit-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -moz-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
    -o-text-shadow: -1px 0px 1px rgba(214, 214, 214, 0.59);
}
.btn1-2g:hover {
    top: 2px;
}
.btn1:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/*--content--*/
.content_top{
    background:#fff;
    padding:13px 0 5px;
    border-bottom: 1px solid #E6E5E5;
}
.content_menu ul{
    margin-top:1px;
    padding:0;
    list-style:none;
}
.content_menu ul li {
    display: inline-block;
}
.content_menu ul li a {
    color: #96a6a7;
    display: block;
    margin: 10px;
    text-transform:uppercase;
    font-size:0.8125em;
    font-weight:500;
}
.content_menu ul li a:hover, .content_menu ul li.active a {
    color:#e94e38;
}
.metro{
    position: relative;	
    cursor: pointer;
    font-weight:600;
    background:#fff;
    color:#898989;
    border-radius:100px;	
    -webkit-border-radius:100px;	
    -moz-border-radius:100px;	
    -o-border-radius:100px;	
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border:1px solid #b2bebe;
}
.metro.open{
    z-index: 2;
}
.metro:hover,
.metro.focus{
    color:#666;
}
/* OLD SELECT (HIDDEN) */
.metro .old{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}
.metro select{
    position: absolute;
    left: 0px;
    top: 0px;
}
.metro.touch select{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.metro .selected {
    color: #96a6a7;
}
.metro .selected:hover{
    color:#e94e38;
}
.metro .selected,
.metro li{
    display: block;
    font-size:0.8125em;
    padding:8px 0px 8px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-weight:500;
    text-transform:uppercase;
}
.metro .selected::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding:18px;
    background:url(../images/img-sprite.png) no-repeat -85px 8px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
.metro:hover .selected::after,
.metro.focus .selected::after{
    /*-background:url(../images/img-sprite.png) no-repeat -44px 19px;--*/
}
/* DROP DOWN WRAPPER */
.metro div{
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top:1px;
    background:#e94e38;
    overflow: hidden;
    opacity: 0;
    color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
/* Height is adjusted by JS on open */
.metro.open div{
    opacity: 1;
    z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}
.metro.scrollable.bottom div::after{
    opacity: 0;
}
/* DROP DOWN LIST */
.metro ul{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding:0;
    list-style: none;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.metro.scrollable.open ul{
    overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.metro li{
    list-style: none;
    padding: 6px 10px;
    font-size:0.85em;
    font-weight: 400;
    text-transform: lowercase;
}
.metro li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.metro li:hover{
    background-color:#DD3E27;
}
.metro li.focus{
    background:#DD3E27;
    position: relative;
    z-index: 3;
    color:#FFF;
}
.metro li.active{
    background-color:#DD3E27;
    color: #fff;
}
.content_dropdown:first-child {
    margin-left: 0;
}
.content_dropdown {
    display: inline-block;
}
.content_dropdown {
    margin-left:15px;
    width:38%;
}
ul.filter {
    padding: 0;
    list-style: none;
    margin-top: -5px;
}
ul.filter h3{
    font-size:0.8125em;
    color:red;
    text-transform:uppercase;
}
ul.filter li.fil{
    float: left;
    margin: 15px 10px 0 0;
    font-size: 0.8125em;
    text-transform: uppercase;
    font-weight:500;
    color: #96a6a7;
}
ul.filter li {
    display: inline-block;
}
ul.filter li:first-child {
    margin-left: 0;
}
ul.filter li a i {
    width: 45px;
    height: 45px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat;
}
ul.filter li a i:hover{
    opacity:0.8;
}
ul.filter li a i.icon1{
    background-position:-7px -39px;
}
ul.filter li a i.icon2{
    background-position:-56px -39px;
}
ul.filter li a i.icon3{
    background-position:-106px -39px;
}
ul.filter li a i.icon4{
    background-position:-156px -39px;
}
ul.filter li a i.icon5{
    background-position:-207px -39px;
}
.grid1{
    position:relative;
    box-shadow: 0 1px 0px #E6E5E5;
    -webkit-box-shadow: 0 1px 0px #E6E5E5;
    -moz-box-shadow: 0 1px 0px #E6E5E5;
    -o-box-shadow: 0 1px 0px #E6E5E5;
}
.sale {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #1baf5d;
    line-height: 23px;
    padding: 3px 14px;
    position: absolute;
    top: 7px;
    right: 20px;
    text-transform: uppercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}
.view:hover .sale{
    display:none;
}
i.home{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -7px -93px;
    display: block;
    position: absolute;
    bottom:100px;
    right:93px;
}
i.home1{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -91px -93px;
    display: block;
    position: absolute;
    bottom:100px;
    right:93px;
}
i.home2{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -170px -94px;
    display: block;
    position: absolute;
    bottom:100px;
    right:93px;
}
i.b_home {
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -7px -93px;
    display: block;
    position: absolute;
    bottom: 110px;
    right: 93px;
}
i.b_home1{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -91px -93px;
    display: block;
    position: absolute;
    bottom:110px;
    right: 93px;
}
.index_img img{
    border-bottom:3px solid #1baf5d;
}
.index_img1 img{
    border-bottom:3px solid #f19e1f;
}
.index_img2 img{
    border-bottom:3px solid #88499c;
}
.content_middle{
    background:#f3f1f2;

}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
}
i.search{
    width:20px;
    height:20px;
    background:url(../images/search.png)no-repeat;
    float:left;
}
.view .mask,.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 258px;
    height: 173px;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
ul.mask_img {
    list-style: none;
    padding: 0 3em;
    margin-top: 1em;
}
ul.mask_img li.star{
    float:left;
    margin-right:2em;
}
ul.mask_img li.set{
    float:left;
}
.info {
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px 5px;
    background: none;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    font-size: 0.8125em;
    margin: 2em 0 1em;
    font-weight:100;
}
h3.m_4{
    text-align:center;
    padding:5% 0;
}
h3.m_4 a{
    color:#555;
    text-transform:uppercase;
    font-size:1em;
}
h3.m_4 a:hover{
    color:#FFA540;
}
p.m_5{
    text-align:center;
    color:#999;
    font-size:0.85em;
}
.view-first img {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-first .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color:rgba(136, 73, 156, 0.68);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-bottom:3px solid #1baf5d;
}
.view-first h2 {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-first ul.mask_img {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view-first:hover img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}
.view-first a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover ul.mask_img,
.view-first:hover a.info {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first:hover ul.mask_img {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.inner_wrap, .inner_wrap2{
    background:#fff;
    padding:2em 1em 1em;
    text-align:center;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
}
.inner_wrap h3, .inner_wrap2 h3{
    color: #566375;
    font-size: 0.85em;
    font-weight: 100;
    line-height: 1.3em;
    margin-bottom: 1em;
}
ul.star1{
    padding:0;
    list-style:none;
}
ul.star1 li a{
    font-size:0.8125em;
    color:#96a6a7;
}
ul.star1 li a img {
    padding-right: 5px;
}
h4.green, h4.yellow, h4.blue{
    color:#1baf5d;
    text-transform:uppercase;
    font-size:0.8125em;
    margin-bottom: 0;
}
h4.yellow{
    color:#f19e1f;
}
h4.blue{
    color:#9055a3;
}
i.m_home {
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -7px -93px;
    display: block;
    position: absolute;
    bottom:135px;
    left: 12px;
}
i.m_home1 {
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -7px -169px;
    display: block;
    position: absolute;
    bottom:135px;
    left: 12px;
}
ul.vision{
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 188px;
    left: 100px;
}
ul.vision li{
    display: inline-block;
    color: #fff;
    font-size: 1em;
    font-weight:100;
    text-transform: uppercase;
}
ul.vision li.desc{
    font-size:0.8125em;
}
ul.vision li.desc img, ul.star1 li img{
    vertical-align:sub;
}
ul.vision li.desc a{
    color:#fff;
}
.inner_wrap1 {
    background: #fff;
    padding:2em 1em 1em;
    border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -o-border-bottom-right-radius: 3px;
}
ul.item_module{
    padding:0;
    list-style:none;
}
ul.item_module li.module_left{
    float: left;
    margin-right: 1em;
    padding: 15px 0 0 0;
}
ul.item_module li.module_right{
    overflow:hidden;
}
ul.item_module li.module_left img{
    border-radius:100px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border:3px solid #e2dee0;
    width:82%;
}
ul.item_module li.module_right h5{
    color: #495564;
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.8em 0 0.2em;
    font-weight: 600;
}
ul.item_module li.module_right p{
    color: #788291;
    font-size: 0.8125em;
    line-height: 1.8em;
    display: inline;
    font-weight: normal;
}
.content_btn {
    display: inline-block;
    color: #495564;
    font-size:0.95em;
    line-height: 18px;
    font-weight:100;
    text-align: left;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}
.middle_grid{
    padding:2em 0;
}
.bottom_grid{
    padding-top:2em;
}
.inner_wrap2{
    padding:1.8em 1em;
}
.content_middle_box{
    border-bottom:1px solid #DADADA;
    padding:3em 0;
}
.offering{
    text-align:center;
    padding:5em 0;
}
.offering h2{
    color: #566375;
    font-size: 1.5em;
    font-weight: 100;
}
.offering h3{
    color: #96a6a7;
    font-size: 1em;
    font-weight: 400;
}
ul.icons{
    padding:0;
    list-style:none;
    position:relative;
    margin-top: 4em;
}
ul.icons li{
    width:15%;
    display:inline-block;
}
ul.icons li i.icon1{
    width: 110px;
    height: 110px;
    background: url(../images/icons.png) no-repeat -14px -134px;
    display: inline-block;
}
ul.icons li i.icon1:hover{
    background: url(../images/icons.png) no-repeat -14px -12px;
}
ul.icons li i.icon2{
    width: 110px;
    height: 110px;
    background: url(../images/icons.png) no-repeat -145px -134px;
    display: inline-block;
}
ul.icons li i.icon2:hover{
    background: url(../images/icons.png) no-repeat -145px -12px;
}
ul.icons li i.icon3{
    width: 110px;
    height: 110px;
    background: url(../images/icons.png) no-repeat -278px -134px;
    display: inline-block;
}
ul.icons li i.icon3:hover{
    background: url(../images/icons.png) no-repeat -278px -12px;
}
ul.icons li i.icon4{
    width: 110px;
    height: 110px;
    background: url(../images/icons.png) no-repeat -409px -134px;
    display: inline-block;
}
ul.icons li i.icon4:hover{
    background: url(../images/icons.png) no-repeat -409px -12px;
}
ul.icons li i.icon5{
    width: 110px;
    height: 110px;
    background: url(../images/icons.png) no-repeat -546px -134px;
    display: inline-block;
}
ul.icons li i.icon5:hover{
    background: url(../images/icons.png) no-repeat -535px -12px;
}
ul.icons li i.icon2{
    background-position:
}
span.one{
    height:2px;
    width: 50px;
    display: block;
    background:#DFDFDF;
    position: absolute;
    left: 282px;
    top: 45%;
}
span.two{
    height:2px;
    width: 50px;
    display: block;
    background:#DFDFDF;
    position: absolute;
    left:456px;
    top: 45%;
}
span.three{
    height:2px;
    width: 50px;
    display: block;
    background:#DFDFDF;
    position: absolute;
    left:632px;
    top: 45%;
}
span.four{
    height:2px;
    width: 50px;
    display: block;
    background:#DFDFDF;
    position: absolute;
    left:808px;
    top: 45%;
}
.real{
    margin:0 auto;
    width:75%;
}
.real h4{
    color:#1db05e;
    font-size:1.5em;
    font-weight:600;
    margin:1.5em 0;
}
ul.service_grid{
    padding:0;
    list-style:none;
}
i.s1{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -96px -169px;
    display: block;
    float: left;
    margin-right: 1em;
}
i.s2{
    width: 67px;
    height: 67px;
    background: url(../images/img-sprite.png)no-repeat -185px -169px;
    display: block;
    float: left;
    margin-right: 1em;
}
ul.service_grid li.desc1 {
    overflow: hidden;
    text-align:left;
}
ul.service_grid li.desc1 p{
    color: #96a6a7;
    font-size: 0.85em;
    font-weight: 100;
    line-height: 1.8em;
}
.offering h3 {
    color: #96a6a7;
    font-size: 1em;
    font-weight:100;
}
.real:hover i.s1, .real:hover i.s2{
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
/*--footer--*/
.footer{
    background: url(../images/footer.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 200px;
    text-align: center;
    padding-top:2em;
}
.footers{
    background: url(../images/footer.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 40px;
    text-align: center;
    padding-top:0em;
}
.footer h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom:2em;
}
.footer span {
    background: rgba(111, 111, 111, 0.17);
    border: 1px solid #5b5953;
    padding: 3px 0px 3px 30px;
    margin: 25px 25px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    display: block;
    outline: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    text-align: left;
    width: 45%;
    margin: 0 auto;
}
.footer input[type="text"]{
    padding: 10px;
    color: #FFF;
    font-size: 1em;
    background: none;
    outline: none;
    border: none;
    margin: 0px auto;
    width: 68%;
    -webkit-apperance: none;
    vertical-align: middle;
}
label.btn1.btn2.btn-2.btn-2g {
    padding: 13px 14px;
    font-size: 0.85em;
}
.footer_grids {
    text-align: left;
    padding-bottom:3em;
}
.footer-grid {
    float: left;
    width: 17.7%;
    margin-right: 23%;
}
.footer-grids {
    float: left;
    width: 17.7%;
    margin-right: 0%;
    margin-left: -10%;
}
.last_grid {
    margin-right: 0;
}
ul.list1{
    padding:0;
    list-style:none;
}
ul.list1 li a{
    color: #ADADAD;
    font-size: 0.85em;
    font-weight: 100;
    line-height: 1.8em;
}
.footer_top{
    border-bottom: 1px solid #5b5953;
    margin-bottom:4em;
    padding-bottom:4em;
}
.footers_top{
    border-bottom: 2px solid #5b5953;
    margin-bottom:1em;
    padding-bottom:0em;
}
.footer-grid h4 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 1em;
    border-bottom: 1px solid #5b5953;
    width: 50%;
}
ul.footer_social{
    padding:0;
    list-style:none;
}
ul.footer_social li {
    display: inline-block;
    margin-right:10px;
}
ul.footer_social li a i {
    width:30px;
    height: 35px;
    display: block;
    background: url(../images/img-sprite.png)no-repeat;
}
ul.footer_social li a i:hover{
    opacity:0.8;
}
ul.footer_social li a i.fb {
    background-position:-17px -252px;
}
ul.footer_social li a i.tw {
    background-position:-59px -253px;
}
ul.footer_social li a i.google {
    background-position:-109px -253px;
}
ul.footer_social li a i.u_tube {
    background-position:-162px -253px;
}
.copy{
    margin-top:3em;
}
.copy p {
    font-size: 0.8125em;
    color: #fff;
}
.copy p a{
    color:#e94e38;
}
/*--living--*/
.living_middle{
    padding:5em 0;
    background: #f3f1f2;
}
.living_box {
    position: relative;
    padding: 10px;
    background: #fff;
}
.living_box:hover span.sale-label{
    background:#1db05e;
}
.sale-label {
    font-size: 0.8125em;
    color: #FFF;
    background:#e94e38;
    text-transform: uppercase;
    padding: 9px;
    text-align: center;
    display: block;
    min-width: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.sale-box {
    position: absolute;
    top: 16px;
    overflow: hidden;
    height: 38px;
    min-width:110px;
    text-align: left;
    z-index: 0;
}
.new-box {
    right: 10px;
}
.living_desc h3 {
    margin: 20px 0 5px;
}
.living_desc h3 a {
    color:#566375;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.living_desc h3 a:hover{
    color:#e94e38;
}
.living_desc p {
    color:#96a6a7;
    font-size: 0.8125em;
    line-height: 1.8em;
    margin-bottom: 10px;
}
.btn3 {
    float: left;
    font-size: 13px;
    background-color:#1db05e;
    color: white;
    padding:5px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    display: inline-block;
}
.btn3:hover{
    background:#e94e38;
    text-decoration:none;
    color:#fff;
}
p.price {
    float: right;
    color:#566375;
    font-size:18px;
}
.propertyDetails {
    background-color: #f8f8f8;
    margin-top: 0px;
    border: 1px solid #cacaca;
    width: 100%;
    text-align: center;
}
.propertyDetails td {
    font-size: 12px;
    width: 33.6%;
    height: 45px;
    border-color: #cacaca;
    color: #ababab;
}
.living_bottom{
    background:#fff;
    padding:5em 0;
}
.post_left p{
    color: #96a6a7;
    font-size: 0.85em;
    line-height: 1.8em;
    margin: 1em 0;
}
.post_left p a{
    color:#e94e38;
    text-decoration:underline;
}
.post_left p a:hover{
    text-decoration:none;
}
.divider{
    height:2px;
    background:#E6E6E6;
    width:200px;
}
p.field-content{
    color: #5A5A5A;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 700;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}
.mask1{
    text-decoration: none;
    overflow: hidden;
    display: block;
}
h2.title.block-title{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    margin-bottom:2em;
}
/*--education--*/
ul.feature{
    padding:0;
    list-style:none;
    margin-bottom: 2em;
}
ul.last_grid{
    margin-bottom:0;
}
ul.feature li.feature_right{
    overflow:hidden;
}
ul.feature li.feature_right h4{
    color:#566375;
    text-transform:uppercase;
    font-size:1em;
}
ul.feature li.feature_right p{
    color:#9AA3B0;
    font-size: 0.8125em;
    line-height: 1.8em;
    font-weight:100;
}
i.icon-trophy{
    width:32px;
    height:32px;
    background:url(../images/img-sprite.png)-215px -260px;
    float:left;
    margin-right:1em;
}
i.icon-tick{
    width:32px;
    height:32px;
    background:url(../images/img-sprite.png)-187px -2px;
    float:left;
    margin-right:1em;
}
i.icon-audio{
    width:32px;
    height:37px;
    background:url(../images/img-sprite.png)-257px -256px; 
    float:left;
    margin-right:1em;
}
i.icon-video{
    width:32px;
    height:37px;
    background:url(../images/img-sprite.png)-240px -1px;
    float:left;
    margin-right:1em;
}
ul.list-Education{
    padding:0;
    list-style:none;
}
p.pr_box{
    margin-bottom:0px !important;
}
p.educate {
    float: left;
    margin-bottom:0px !important;
}
.educate_grid {
    margin-bottom: 2em;
}
/*--entertain--*/
.grid_box2{
    background:#fff;
    padding:1em;
}
.grid_box2 h4{
    text-transform:uppercase;
    font-size:1.2em;
    font-weight:500;
    margin-bottom:5px;
}
.grid_box2 h4 a{
    color:#000;
}
.grid_box:hover .grid_box2 h4 a{
    color:#e94e38;
    text-decoration:none;
}
.grid_box2 p{
    text-transform:uppercase;
    font-size:0.8125em;
    color:#e94e38;
    font-weight:500;
}
.zoom-icon {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    background: rgba(64, 72, 109, 0.61);
    display: block;
    left: 0;
    top: -152px;
    width: 290px;
    height: 219px;
    background: url(../images/zoom.png) center center no-repeat;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
    top: -50px;
    width:100%;
    height: 182px;	
}
.grid_box a:hover .zoom-icon {
    top: 0;
    opacity: 1;
    filter: alpha(opacity=99); 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
    margin-bottom:3em;
}
/*--404--*/
.page-not-found{
    border-top:1px solid #f0f0f0;
    padding:5em 0;
}
.page-not-found h1 {
    font-size: 10em;
    color:#96a6a7;
    text-align: center;
    font-weight: 100;
    margin-bottom:0;
}
/*--contact--*/
.contact{
    padding:5em 0;
    border-top:1px solid #f0f0f0;
}
.contact h1{
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    margin-bottom: 2em;
}
.map iframe {
    min-height:300px;
    width: 100%;
    border: none;
}
.address p {
    color: #000;
    font-size:0.8125em;
    line-height:1.8em;
    margin: 0 0 16px;
    font-style: normal;
}
.address dd {
    color:#96a6a7;
    font-size:0.8125em;
    line-height:1.8em;
}
.to {
    margin-bottom: 2em;
}
.to input[type="text"] {
    padding: 10px 0;
    width: 32.111%;
    font-size: 0.85em;
    margin: 10px 0;
    border: none;
    color:#96a6a7;
    background: none;
    float: left;
    outline: none;
    border-bottom: 2px solid #96a6a7;
    text-transform: uppercase;
    font-weight: 600;
}
.text input[type="text"], .text textarea {
    width:100%;
    font-size: 0.85em;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #96a6a7;
    color:#96a6a7;
    background: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    height: 54px;
    padding: 10px 0;
    resize: none;
}
.form-submit1{
    text-align:center;
    margin-top:2em;
}
.form-submit1 input[type="submit"] {
    color: #FFF;
    text-align:center;
    font-size: 0.95em;
    font-weight: normal;
    padding: 15px 30px;
    text-transform: uppercase;
    background:#e94e38;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight:500;
    border: none;
    cursor: pointer;
}
.form-submit1 input[type="submit"]:hover {
    background:#7B7C7C;
}
.living_middle h2 {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    margin-bottom: 2em;
}
/*--responsive design--*/
@media (max-width:1366px){
    .header {
        margin-left: 8em;
    }

    #loginForm {
        width:374px;
    }
    .logo {
        margin-right: 5%;
        width: 19.5555%;
    }
    .menu {
        width:71.5555%;
    }
}
@media (max-width:1280px){
    .header {
        margin-left:5em;
    }
    .footer span {
        width:62%;
    }
    .footer input[type="text"] {
        width: 77%;
    }
    #loginContainer {
        width:85%;
        float: right;
    }
    #loginForm {
        width: 330px;
    }
    .menu {
        width: 74.5555%;
    }
    .sb-search {
        right: -58px;
    }
    .menu li a {
        margin: 5px 5px;
        font-size: 0.8125em;
    }
    .content_dropdown {
        margin-left: 0px;
        width: 44%;
    }
    ul.filter li.fil {
        margin: 15px 0px 0 0;
    }
    ul.filter li {
        margin-right: -3px;
    }
    .content_menu ul li a {
        margin: 10px 5px;
    }
}
@media (max-width:1024px){
    .header {
        margin-left:3em;
        
    }
    .footer span{
        width:60%;
    }
    #loginForm {
        width:228px;
    }
    .footer input[type="text"] {
        width: 71%;
    }
    .menu li a {
        margin: 5px 5px;
        font-size: 0.8125em;
    }
    .menu {
        width: 70.5555%;
    }
    .logo {
        margin-right:0;
        width: 27.5555%;
    }
    .menu {
        width: 71.5555%;
    }
    .container_wrap {
        margin: 0 auto;
        width: 80%;
    }
    .content_menu ul li a {
        margin:10px 2px;
        font-size:12px;
    }
    .content_dropdown1, .bottom_nav, .filter_grid{
        padding: 0px !important;
    }
    .content_dropdown {
        margin-left: 5px;
        width: 45%;
    }
    i.home, i.home1, i.home2{
        right:70px;
    }
    .info {
        padding: 5px 10px 2px;
        font-size: 12px;
    }
    ul.mask_img li.star {
        margin-right: 1em;
    }
    .view .mask, .view .content {
        width: 206px;
        height: 142px;
    }
    ul.mask_img {
        padding: 0 2em;
        margin-top:0.5em;
    }
    i.m_home, i.m_home1{
        bottom: 160px;
    }
    ul.vision {
        bottom: 200px;
    }
    .inner_wrap2 {
        padding: 2.8em 1em;
    }
    i.b_home, i.b_home1{
        bottom: 125px;
        right: 313px;
    }
    span.one {
        width: 30px;
        left: 236px;
    }
    span.two {
        width: 30px;
        left: 382px;
    }
    span.three {
        width: 30px;
        left: 528px;
    }
    span.four {
        width:30px;
        left: 672px;
    }
    .footer-grid {
        float: left;
        width: 20.7%;
        margin-right:12%;
    }
    .footer-grid h4 {
        width: 52%;
    }
    .grid_box .zoom-icon {
        height: 160px;
    }
    #loginContainer {
        width: 65%;
    }
    .sb-search {
        right:-75px;
    }
    .header_right {
        width:10%;
    }
    .header-left {
        width: 90%;
    }
    #loginContainer {
        padding: 1.5em 1em;
    }
    .sb-icon-search, .sb-search-submit {
        width: 55px;
    }
    .sb-search {
        min-width:55px;
    }
    .sb-icon-search {
        background: #e2dee0 url('../images/h_search.png') no-repeat 14px 22px;
    }
    span.one, span.two, span.three, span.four{
        display:none;
    }
    #loginBox {
        left: -91px;
    }
}
@media (max-width:800px){
    #loginContainer {
        width: 94%;
    }
    .footer span {
        width:65%;
    }
    .sale-box {
        left: 2em;
    }
    .view-first .mask {
        position: absolute;
        left: 197px;
    }
    .view img {
        display: inline-block;
    }
    .header {
        margin-left: 2em;
    }
    .menu li a {
        padding: 10px 10px;
    }
    .menu {
        width: 52.5555%;
        text-align: center;
    }
    #loginForm {
        width: 223px;
    }
    .sb-search {
        right:-15px;
    }	
    .banner h1 {
        font-size: 1.5em;
    }
    .bannertwoin h1 {
        font-size: 1.5em;
    }
    .bannertwoins h1 {
        font-size: 1.5em;
    }
    .flat .selected, .flat li {
        font-size: 0.85em;
    }
    .container_wrap {
        width: 100%;
    }
    .flat .selected::after {
        background: url(../images/img-sprite.png) no-repeat -7px 14px;
    }
    .banner input[type="url"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="url"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="file"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="url"] {
        font-size: 0.85em;
    }
    .banner input[type="text"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="text"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="password"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="date"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="drop"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="time"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="tel"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="tel"] {
        font-size: 0.85em;
    }
    .bannertwoin input[type="email"] {
        font-size: 0.85em;
    }
    .container input[type="email"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="email"] {
        font-size: 0.85em;
    }
    .bannertwoin select {
        font-size: 0.85em;
    }
    .bannertwoin select selector {
        font-size: 0.85em;
    }


    .bannertwoins input[type="text"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="password"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="date"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="drop"] {
        font-size: 0.85em;
    }
    .bannertwoins input[type="time"] {
        font-size: 0.85em;
    }
    .bannertwoins select {
        font-size: 0.85em;
    }
    .bannertwoins select selector {
        font-size: 0.85em;
    }
    .header select {
        font-size: 0.85em;
    }
    .header select selector {
        font-size: 0.85em;
    }
    .btn1 {
        padding: 14px 20px;
        font-size: 0.95em;
    }
    .banner {
        min-height: 350px;
    }
    .bannertwoin {
        min-height: 350px;
    }
    .bannertwoins {
        min-height: 350px;
    }
    .flat:hover .selected::after, .flat.focus .selected::after {
        background: url(../images/img-sprite.png) no-repeat -44px 15px;
    }
    .bottom_nav {
        text-align: center;
        margin-bottom: 1em;
    }
    .content_dropdown1, .bottom_nav, .filter_grid {
        padding: 0 15px;
    }
    .content_dropdown1 {
        margin-bottom: 1em;
    }
    .view .mask, .view .content {
        width:298px;
        height: 183px;
    }
    i.m_home, i.m_home1 {
        bottom: 115px;
    }
    ul.vision {
        bottom: 155px;
    }
    span.one, span.two, span.three, span.four{
        display:none;
    }
    ul.icons li {
        width: 17%;
    }
    .real {
        width: 85%;
    }
    ul.service_grid li.desc1 p {
        font-size: 0.8125em;
    }
    .footer input[type="text"] {
        width: 67%;
    }
    label.btn1.btn2.btn-2.btn-2g {
        padding: 12px 8px;
        font-size: 0.85em;
    }
    .footer-grid {
        float: left;
        width: 26.7%;
        margin-right: 6%;
    }
    .footer-grid h4 {
        width: 55%;
    }
    ul.last_grid {
        margin-bottom:2em;
    }
    .living_box {
        margin-bottom: 2em;
        text-align:center;
    }
    .living_box img{
        display:inline-block;
    }
    .living_middle {
        padding:3em 0 2em;
    }
    .map {
        margin-bottom: 2em;
    }
    .to input[type="text"] {
        width: 31.111%;
    }
    .contact {
        padding: 3em 0 2em;
    }
    .contact h1, .living_middle h2{
        margin-bottom:1em;
    }
    i.home, i.home1, i.home2 {
        right:311px;
        bottom: 85px;
    }
    .sale{
        right:218px;
    }
    #loginBox {
        left: -71px;
    }
    ul.mask_img {
        padding: 0 5em;
    }
    .sale-box {
        left: 18.5em;
    }
    .col-md-3.grid_box {
        text-align: center;
    }
    .col-md-3.grid_box img{
        display:inline-block;
    }
    .grid_box .zoom-icon {
        height: 354px;
    }
}
@media (max-width:768px){
    #loginForm {
        width: 219px;
    }
}
@media (max-width:640px){
    #loginForm {
        width: 189px;
    }
    .sale-box {
        left: 14.5em;
    }
    .footer span {
        width: 78%;
    }
    #loginBox {
        left: 0px;
    }
    .view-first .mask {
        left: 134px;
    }
    i.home, i.home1, i.home2 {
        right: 247px;
    }
    i.b_home, i.b_home1 {
        right: 248px;
    }
    .banner {
        min-height:320px;
        padding-top:2em;
    }
    .bannertwoin {
        min-height:320px;
        padding-top:2em;
    }
    .bannertwoins {
        min-height:320px;
        padding-top:2em;
    }
    ul.icons li {
        width: 18%;
    }
    .real {
        width: 95%;
    }
    .footer_top {
        margin-bottom: 2em;
        padding-bottom: 2em;
    }
    .footers_top {
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
    .footer-grid h4 {
        width: 66%;
    }

    .footer h3 {
        margin-bottom: 1em;
    }
    i.m_home, i.m_home1 {
        bottom: 135px;
    }
    ul.vision {
        bottom: 180px;
    }
    .footer-grid {
        width: 29.7%;
        margin-right: 3%;
    }
    h2.title.block-title {
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    .living_bottom {
        padding: 2em 0;
    }
    .to input[type="text"] {
        width: 30.9%;
    }
    .sb-search {
        right: 0;
    }
    #loginContainer {
        width: 100%;
    }
    #loginContainer {
        padding: 0.5em 1em;
    }
    #loginBox {
        top: 50px;
    }
    #loginForm {
        width: 430px;
    }
    .header_right {
        width:100%;
    }
    .header-left {
        width:100%;
    }
}
@media (max-width:480px){
    .header {
        margin-left: 1em;
    }
    .sale-box {
        left: 9.5em;
    }
    .grid_box .zoom-icon {
        height: 285px;
    }
    .dropdown-button {
        width: 34%;
    }
    .banner input[type="url"] {
        width:60%;
    }
    .bannertwoin input[type="url"] {
        width:60%;
    }
    .bannertwoins input[type="url"] {
        width:60%;
    }
    .banner input[type="text"] {
        width:60%;
    }
    .bannertwoin input[type="text"] {
        width:60%;
    }
    .bannertwoins input[type="text"] {
        width:60%;
    }
    .banner input[type="time"] {
        width:60%;
    }
    .bannertwoin input[type="time"] {
        width:60%;
    }
    .bannertwoins input[type="time"] {
        width:60%;
    }
    .banner input[type="tel"] {
        width:60%;
    }
    .bannertwoin input[type="tel"] {
        width:60%;
    }
    .bannertwoins input[type="tel"] {
        width:60%;
    }
    .banner input[type="email"] {
        width:60%;
    }
    .container input[type="email"] {
        width:60%;
    }
    .bannertwoin input[type="email"] {
        width:60%;
    }
    .bannertwoins input[type="email"] {
        width:60%;
    }
    .banner input[type="drop"] {
        width:60%;
    }
    .bannertwoin input[type="drop"] {
        width:60%;
    }
    .bannertwoins input[type="drop"] {
        width:60%;
    }
    .banner input[type="password"] {
        width:60%;
    }
    .bannertwoin input[type="password"] {
        width:60%;
    }
    .bannertwoins input[type="password"] {
        width:60%;
    }
    .banner input[type="date"] {
        width:60%;
    }
    .bannertwoin input[type="date"] {
        width:60%;
    }
    .bannertwoins input[type="date"] {
        width:60%;
    }
    .view-first .mask {
        left: 53px;
    }
    ul.icons li {
        width: 29%;
    }
    .footer span {
        width: 86%;
    }
    .to input[type="text"] {
        width: 100%;
        float: none;
        margin-left:0px !important;
    }
    i.m_home, i.m_home1 {
        bottom: 160px;
    }
    ul.vision {
        bottom: 204px;
    }
    .page-not-found h1 {
        font-size: 6em;
    }
    .page-not-found {
        padding: 2em 0;
    }
    i.home, i.home1, i.home2 {
        right: 170px;
        bottom: 83px;
    }	
    i.b_home, i.b_home1 {
        bottom: 125px;
        right:180px;
    }
    .footer input[type="text"] {
        width: 58%;
    }
    ul.icons li i.icon4, ul.icons li i.icon5{
        display: none;
    }
}
@media (max-width:320px){
    .header-left {
        float: none;
        width: 100%;
    }
    .sale-box {
        left: 4.5em;
    }
    .grid_box .zoom-icon {
        height: 222px;
    }
    .sale {
        right: 10px;
    }
    ul.filter li a i.icon3 {
        display: none;
    }
    .view-first .mask {
        left: 0px;
    }
    .view .mask, .view .content {
        width: 243px;
        height: 167px;
    }
    .search-box {
        display: none;
    }
    #loginContainer {
        display: none;
    }
    .nav {
        right: 7px;
    }
    .banner h1 {
        font-size: 1.2em;
    }
    .twoin h1 {
        font-size: 1.2em;
    }
    .dropdown-button {
        margin-left: 5px;
        width: 45%;
    }
    .banner input[type="text"] {
        width:90%;
    }
    .bannetwoin input[type="text"] {
        width:90%;
    }
    i.m_home, i.m_home1 {
        bottom: 296px;
    }
    ul.vision {
        bottom: 335px;
    }
    ul.item_module li.module_right p {
        font-size: 12px;
    }
    .offering {
        text-align: center;
        padding: 2em 0;
    }
    .offering h2 {
        font-size: 1em;
    }
    .offering h3 {
        font-size: 0.8125em;
    }
    ul.icons {
        margin-top: 2em;
    }
    ul.icons li {
        width: 42%;
    }
    .real {
        width: 100%;
    }
    .footer{
        padding-top:2em;
    }
    .footer h3 {
        font-size: 1em;
    }
    .banner {
        min-height:220px;
        padding-top: 1em;
    }
    .bannertwoin {
        min-height:220px;
        padding-top: 1em;
    }
    .bannertwoins {
        min-height:220px;
        padding-top: 1em;
    }
    .flat .selected, .flat li {
        font-size:0.8125em;
        padding: 8px 0px 8px 10px;
    }
    .flat .selected::after {
        background: url(../images/img-sprite.png) no-repeat 5px 8px;
    }
    .flat:hover .selected::after, .flat.focus .selected::after {
        background: url(../images/img-sprite.png) no-repeat 5px 8px;
    }
    .dropdown-button {
        width: 41%;
    }
    .container input[type="email"] {
        padding:8px;
        margin-bottom:1em;
    }
    .banner input[type="url"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="url"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="url"] {
        padding:8px;
        margin-bottom:1em;
    }
    .banner input[type="text"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="text"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="text"] {
        padding:8px;
        margin-bottom:1em;
    }
    .banner input[type="tel"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="tel"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="tel"] {
        padding:8px;
        margin-bottom:1em;
    }
    .banner input[type="email"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="email"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="email"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="time"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="drop"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="date"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoin input[type="password"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="time"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="drop"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="date"] {
        padding:8px;
        margin-bottom:1em;
    }
    .bannertwoins input[type="password"] {
        padding:8px;
        margin-bottom:1em;
    }
    .btn1 {
        padding: 10px 12px;
        font-size: 0.8125em;
    }
    .metro .selected, .metro li {
        font-size: 12px;
        padding: 10px 0px 8px 10px;
    }
    i.home, i.home1, i.home2 {
        right: 88px;
        bottom: 105px;
    }
    i.m_home, i.m_home1 {
        bottom: 265px;
    }
    ul.icons li i.icon3 {
        display:none;
    }
    ul.vision {
        bottom: 300px;
    }
    i.b_home, i.b_home1 {
        right: 89px;
    }
    label.btn1.btn2.btn-2.btn-2g {
        padding: 8px 4px;
        font-size: 12px;
    }
    .footer input[type="text"] {
        width:45%;
        font-size: 0.8125em;
        padding:5px;
    }
    .footer span {
        padding: 1px 0px 1px 10px;
    }
    .footer-grid {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom:1.5em;
    }
    .footer-grid h4 {
        width: 38%;
        margin-bottom:10px;
    }
    .copy {
        margin-top: 1em;
    }
    .footer_grids {
        padding-bottom:0;
    }
    .page-not-found h1 {
        font-size:5em;
    }
    .map iframe {
        min-height: 200px;
    }
    .menu {
        width: 25.5555%;
        text-align: center;
        float: right;
    }
    .logo {
        margin: 0;
        width: 56%;
    }



}
